.search { position: relative; }

.search input { text-indent: 30px;}

.search mat-icon {
  position: absolute;
  top: 10px;
  left: 7px;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

:host /deep/ .mat-sort-header-container{
  .mat-sort-header-button{
    display: initial;
  }
}

:host /deep/ .mat-header-cell{
  span{
    display: none;
  }
}
