<mat-card>
  <div>
    <div class="col-8">
      <div class="row">
        <label class="mr-4 font-weight-bold">Employees</label>
        <div class="search">
          <mat-icon>search</mat-icon>
          <input class="form-control" placeholder="Search Employee" aria-label="Search an employee">
        </div>
      </div>
    </div>

    <div class="row">
      <mat-table [dataSource]="tbDataSource" matSort>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header="name"><label class="font-weight-bold">Name</label> <br> <label class="font-weight-bold">(job Title)</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{row.name}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header="age"><label class="font-weight-bold">Age</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{setAge(row.dob)}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </div>
</mat-card>
