<mat-card class="m-md-3">
  <div>
    <div class="col-8">
      <div class="row">
        <label class="mr-4 font-weight-bold">Employees</label>
        <div class="search">
          <mat-icon>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" class="form-control" placeholder="Search Employee" aria-label="Search an employee">
        </div>
      </div>
    </div>

    <div class="table-container">
      <mat-table [dataSource]="tbDataSource" matSort>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label class="font-weight-bold">Name</label> <br> <label class="font-weight-bold">(job Title)</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{row.name}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label class="font-weight-bold">Age</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{setAge(row.dob)}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label class="font-weight-bold">Username</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{row.username}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hireDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header><label class="font-weight-bold">Hire Date</label></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{row.hireDate}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="editEployee(row.id)" mat-icon-button  matTooltip="Edit employee" matTooltipClass="tooltip-list-properties">
              <mat-icon aria-label="Edit employee">create</mat-icon>
            </button>
            <button (click)="viewEmployee(row.id)" mat-icon-button  matTooltip="View employee" matTooltipClass="tooltip-list-properties">
              <mat-icon aria-label="View employee">visibility</mat-icon>
            </button>
            <button (click)="deleteEmployee(row.id)" mat-icon-button  matTooltip="Delete employee" matTooltipClass="tooltip-list-properties">
              <mat-icon aria-label="Delete employee">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </div>
</mat-card>
