/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.error-border-field{
  border-color: #C60013 !important;
}

.error-span{
  color: #C60013 !important;
  font-size: 11.2px;
  display: block;
}
